.container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.Header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.image {
  height: 2rem;
  object-fit: cover;
}
.Nav {
  display: flex;
}
.icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.BurgerMenu {
  display: none;
}
.Icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
}
.MobileMenu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.Nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.Container01 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.image1 {
  height: 2rem;
}
.CloseMobileMenu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.Hero {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: var(--dl-size-size-maxwidth);
  min-height: 80vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.image2 {
  width: 25rem;
  object-fit: cover;
}
.container02 {
  display: flex;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: column;
}
.text {
  font-size: 3rem;
}
.text01 {
  margin-top: var(--dl-space-space-unit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.BtnGroup {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.button {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.button:hover {
  transform: scale(1.02);
}
.button1 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
}
.button1:hover {
  transform: scale(1.02);
}
.text02 {
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-threeunits);
}
.Banner {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.text16 {
  font-size: 3rem;
  text-align: center;
}
.text17 {
  max-width: var(--dl-size-size-maxwidth);
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.BtnGroup1 {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.button2 {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.button2:hover {
  transform: scale(1.02);
}
.button3 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
}
.button3:hover {
  transform: scale(1.02);
}
.Features {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  flex-direction: column;
}
.text21 {
  font-size: 3rem;
  margin-bottom: var(--dl-space-space-threeunits);
}
.container03 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  grid-template-columns: 1fr 1fr;
}
.Gallery {
  width: 100%;
  display: grid;
  padding: var(--dl-space-space-threeunits);
  grid-gap: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  grid-template-columns: 1fr 1fr 1fr;
}
.GalleryCard {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.image3 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.text22 {
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.text23 {
  color: var(--dl-color-gray-500);
  align-self: flex-start;
}
.GalleryCard1 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.image4 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.text24 {
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.text25 {
  color: var(--dl-color-gray-500);
  align-self: flex-start;
}
.GalleryCard2 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.image5 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.text26 {
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.text27 {
  color: var(--dl-color-gray-500);
  align-self: flex-start;
}
.Pricing {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #f5f5f5ff;
}
.container04 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  justify-content: center;
}
.container05 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-twounits);
  flex-direction: column;
}
.text29 {
  color: var(--dl-color-gray-500);
  margin-top: var(--dl-space-space-twounits);
  text-align: left;
  margin-bottom: var(--dl-space-space-twounits);
}
.container06 {
  flex: 2;
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.container07 {
  flex: 1;
  height: 450px;
  display: flex;
  max-width: 450px;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-gray-white);
}
.container07:hover {
  transform: scale(1.02);
}
.text33 {
  font-size: 1.5rem;
  font-weight: 600;
}
.text34 {
  margin: var(--dl-space-space-twounits);
  font-size: 4rem;
  font-weight: 200;
}
.text35 {
  margin-bottom: var(--dl-space-space-unit);
}
.text36 {
  font-weight: 700;
}
.text38 {
  margin-bottom: var(--dl-space-space-unit);
}
.text39 {
  font-weight: 700;
}
.text41 {
  margin-bottom: var(--dl-space-space-unit);
}
.text42 {
  font-weight: 700;
}
.text44 {
  margin-bottom: var(--dl-space-space-unit);
}
.text45 {
  font-weight: 700;
}
.button4 {
  color: var(--dl-color-gray-white);
  margin-top: auto;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.container08 {
  flex: 1;
  color: var(--dl-color-gray-white);
  height: 450px;
  display: flex;
  max-width: 450px;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-gray-black);
}
.container08:hover {
  transform: scale(1.02);
}
.text46 {
  font-size: 1.5rem;
  font-weight: 600;
}
.text47 {
  margin: var(--dl-space-space-twounits);
  font-size: 4rem;
  font-weight: 200;
}
.text48 {
  margin-bottom: var(--dl-space-space-unit);
}
.text49 {
  font-weight: 700;
}
.text51 {
  margin-bottom: var(--dl-space-space-unit);
}
.text52 {
  font-weight: 700;
}
.text54 {
  margin-bottom: var(--dl-space-space-unit);
}
.text55 {
  font-weight: 700;
}
.text57 {
  margin-bottom: var(--dl-space-space-unit);
}
.text58 {
  font-weight: 700;
}
.button5 {
  margin-top: auto;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
}
.Footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.container09 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.Logo {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
}
.image6 {
  height: 2rem;
}
.text59 {
  margin-top: var(--dl-space-space-oneandhalfunits);
}
.LinksContainer {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.Container10 {
  display: flex;
  align-items: flex-start;
  margin-right: 10rem;
  flex-direction: row;
  justify-content: space-between;
}
.ProductContainer {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: 10rem;
  flex-direction: column;
  justify-content: flex-start;
}
.text65 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.text66 {
  margin-bottom: var(--dl-space-space-unit);
}
.text67 {
  margin-bottom: var(--dl-space-space-unit);
}
.text68 {
  margin-bottom: var(--dl-space-space-unit);
}
.CompanyContainer {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.text70 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.text71 {
  margin-bottom: var(--dl-space-space-unit);
}
.text72 {
  margin-bottom: var(--dl-space-space-unit);
}
.text73 {
  margin-bottom: var(--dl-space-space-unit);
}
.container11 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.Contact {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: flex-start;
}
.text75 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.text76 {
  margin-bottom: var(--dl-space-space-unit);
}
.Socials {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.text78 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.IconGroup2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.icon16 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-unit);
}
.icon18 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-unit);
}
.icon20 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.Separator {
  width: 100%;
  height: 1px;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-gray-900);
}
.text79 {
  align-self: center;
}
.text81 {
  text-align: left;
}
@media(max-width: 991px) {
  .Icon06 {
    display: flex;
  }
  .Hero {
    padding: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .image2 {
    order: 2;
  }
  .container02 {
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .text {
    text-align: center;
  }
  .text01 {
    text-align: center;
  }
  .text02 {
    text-align: center;
    padding-left: var(--dl-space-space-fourunits);
  }
  .Gallery {
    grid-template-columns: 1fr 1fr;
  }
  .container04 {
    align-items: center;
    flex-direction: column;
  }
  .container05 {
    align-items: center;
  }
  .text29 {
    text-align: center;
  }
  .container06 {
    width: 100%;
  }
  .Footer {
    flex-direction: column;
  }
  .Container10 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .ProductContainer {
    margin-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .Header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .Nav {
    display: none;
  }
  .BurgerMenu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .image2 {
    width: 80%;
  }
  .Banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .text17 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .Features {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .container03 {
    grid-template-columns: 1fr;
  }
  .Gallery {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .GalleryCard {
    flex-direction: column;
  }
  .GalleryCard1 {
    flex-direction: column;
  }
  .GalleryCard2 {
    flex-direction: column;
  }
  .container04 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .container06 {
    flex-direction: column;
  }
  .container07 {
    width: 100%;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .container08 {
    width: 100%;
  }
  .Footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .container09 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .Logo {
    align-items: center;
  }
  .image6 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .text59 {
    margin-top: var(--dl-space-space-twounits);
    text-align: center;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .LinksContainer {
    width: 100%;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
  }
  .Container10 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .ProductContainer {
    margin-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 479px) {
  .Header {
    padding: var(--dl-space-space-unit);
  }
  .IconGroup {
    display: none;
  }
  .MobileMenu {
    padding: 16px;
  }
  .Hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .container02 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .BtnGroup {
    flex-direction: column;
  }
  .button1 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .text02 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .Banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .BtnGroup1 {
    flex-direction: column;
  }
  .button3 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .Features {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .Gallery {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .image3 {
    height: 10rem;
  }
  .image4 {
    height: 10rem;
  }
  .image5 {
    height: 10rem;
  }
  .container04 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .Footer {
    padding: var(--dl-space-space-unit);
  }
  .container09 {
    align-items: center;
    flex-direction: column;
  }
  .image6 {
    margin-bottom: 0px;
  }
  .text59 {
    margin-top: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-twounits);
  }
  .LinksContainer {
    align-items: center;
    flex-direction: column;
  }
  .Container10 {
    margin-right: 0px;
  }
  .container11 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    align-items: flex-start;
    margin-bottom: 0px;
  }
  .Contact {
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
  }
  .text79 {
    text-align: center;
  }
}
